{% extends "base.html" %}

{% block content %}

<div class="conatiner" style="text-align: center;">
    <h1>Create Event: </h1>
    <br>
    <form method="post">
        {% csrf_token %}
        <table style="margin: auto;">
            {{ event_form.as_p }}

            {{ formset.management_form}}
            {% for form in formset.forms %}

            <div class="table">
                {{form.as_p}}
            </div>
            {% endfor %}
    
        </table>
        <br>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <br>
</div>
{% endblock %}